doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registracija
    link(rel="stylesheet", href="styles.css")
  body
    .container
      h2 Registracija
      form(action="/register", method="post")
        .form-group
          label(for="email") Email adresa:
          input(type="email", id="email", name="email", required)
        .form-group
          label(for="password") Lozinka:
          input(type="password", id="password", name="password", required)
        button(type="submit") Registriraj se
      // Link za prijavu
      a(href="/login") Već imate račun? Prijavite se